body {
    font-family: sans-serif;
    margin: 0;
    padding: 2%;
    /* align-items: center; */
    justify-content: center;
    /* align-content: center; */
    display: flex;
    background-color: rgba(50, 213, 241, 0.5);
}

img{
    width: 60%;
    border: 3px solid black;
}
button{
    width: 23vh;
    height: 13vh;
    color: #000;
    background-color: aqua;
    border-radius: 3vh;
    box-shadow: 0 2vh 2vh 1vh rgba(50, 213, 241, 0.5);
}
button:active{
    color: blue;
}

/* 
#container {
    margin-top: 5%;
    background-color: blueviolet;
    height: 90vh;
    width: 90%;
    border-radius: 20%;
}

#text-container {
    margin: 15%;
}

p::after {
    color: aliceblue;
}

p::before {
    color: rgb(236, 145, 53);
    font-weight: bold;
} */