 body {
    text-align: center; 
    align-items: center;
    font-family: sans-serif;
    margin: 0;
    padding: 2%;
    justify-content: center;
    align-content: center; 
    background-color: rgba(50, 213, 241, 0.5);
} 

img{
    width: 60%;
    border: 3px solid black;
}
#btn{
    width: 23vh;
    height: 13vh;
    color: #000;
    background-color: aqua;
    border-radius: 3vh;
    box-shadow: 0 2vh 2vh 1vh rgba(50, 213, 241, 0.5);
}
#btn:active{
    color: blue;
}
#btn1{
    font-size: 130%;
    padding: 2% 4%;
    background-color: rgb(159, 245, 216);
}
#container{
    z-index: 1;
    visibility:hidden;
    position: absolute;
    top: 5vh;
}

.menu{
    z-index: 0;
    margin: 0 10%;
    position: relative;
    background-color: rgb(200, 245, 245);
    padding: 10%; 
    border-radius: 15%;
}
.size_font{
    font-size: 18px;
}
@media screen and (min-width: 411px) {
    #container{
        margin: 0 25%;
    }
}